@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;

  color: #0b112a;
  color: #051422;
  color: #0a2844;
  /* color: #0c3256; */
  /* color: #fff; */
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.container {
  /* 1140px */
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.link:link,
.link:visited {
  /* display: inline-block; */
  color: #94d82d;
  text-decoration: none;
  /* border-bottom: 1px solid currentColor; */
  /* padding-bottom: 2px; */
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #85c229;
  /* border-bottom: 1px solid transparent; */
}

.ionicon {
  /* font-size: 4.8px; */
  fill: #54697c;
  width: 2rem;
  height: 2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* HELPER/SETTINGS CLASSES */
.margin-top-sm {
  margin-top: 1.6rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 5.2rem !important;
}

.color-green {
  color: #94d82d !important;
}

.rules {
  text-align: center;
  margin: 5rem;
}
